/* body */
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    box-shadow: 0 4px 2px -2px gray;
}

.header-title {
    padding: 0;
    margin: 0;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.central-div {
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: clamp(600px, 100%, 1300px);
    margin-top: 80px;
}

.board-player, .board-enemy {
    display: grid;
    height: 400px;
    width: 400px;
    border: 1px solid blue;
}

.middle-cont-player, .middle-cont-enemy {
    display: flex;
}

.letters-cont {
    display: grid;
    height: 40px;
    width: 440px;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.numbers-cont {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 40px;
    grid-template-rows: repeat(10, 1fr);
}

.winner-div {
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}

.again-btn {
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.again-btn:hover {
    cursor: pointer;
}

/* bottom cont */
.bottom-cont {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    float: right;
}

/* ships */
.carrier {
    background-color: lightgreen;
    border: 2px solid green;
}

.submarine {
    background-color: lightblue;
    border: 2px solid blue;
}

.cruiser {
    background-color: lightcoral;
    border: 2px solid red;
}

.battleship {
    background-color: rgb(255, 144, 255);
    border: 2px solid rebeccapurple;
}

.destroyer {
    background-color: rgba(255, 160, 122, 0.616);
    border: 2px solid orange;
}

/* buttons */
.randomize-btn {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(71, 71, 255);
    padding: 5px;
    color: rgb(71, 71, 255);
    font-size: 15px;
    
}

.randomize-btn:hover {
    cursor: pointer;
}

.start-btn {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(0, 206, 0);
    padding: 5px;
    color: rgb(0, 206, 0);
    font-size: 15px;
}

.start-btn:hover {
    cursor: pointer;
}

.start-btn:disabled {
    border-color: darkgreen;
    color: darkgreen;
    background-color: rgb(245, 245, 245);
    cursor: default;
}

.randomize-btn:disabled {
    border-color: darkblue;
    color: darkblue;
    background-color: rgb(245, 245, 245);
    cursor: default;
}

/* UI stuff*/

.board-enemy > div, .board-player > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.hit {
    color: red;
    background-color: lightgray;
}